@page "/survey/success/{SurveyId}"
@using Pollifyr.App.UI.Components.Alerts
@using Pollifyr.App.UI.Components.Utils

<Name>Thanks for participating!</Name>

<IconAlert Icon="bx-check-circle" Color="success" Title="Thanks for participating">
    Thanks for participating, have a nice day!
</IconAlert>

<div class="d-flex w-100 justify-content-center mt-7">
    <a class="btn btn-primary btn-lg fs-3" href="/results/@SurveyId">
        Check the results
    </a>
    
</div>



@code {

    [Parameter] 
    public string SurveyId { get; set; }

}