@using Pollifyr.App.UI.Components.Alerts


<Title></Title>

<IconAlert Title="Unknown page" Icon="bx-search">
    The address you are trying to access is not associated with any page. To resume please go back or to the <a href="/">homepage</a>.
</IconAlert>