@using Pollifyr.App.UI.Components.Alerts

<IconAlert Icon="bx-pencil" Color="warning" Title="Already filled out!">
    <div>You already filled out this survey!</div>
    <a href="/surveys">Go back to surveys</a>
</IconAlert>