<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="default">
    </div>
    <div class="show">
        <button class="btn btn-outline btn-light-danger btn-sm d-flex align-items-center gap-2" style="pointer-events: none;">
            <span class="spinner-border spinner-border-sm" role="status"></span><span>Reconnecting</span>
        </button>
    </div>
    <div class="failed">
        <a href="javascript:location.reload()" class="btn btn-outline btn-sm btn-primary">
            <i class='bx bx-undo'></i>Reconnect
        </a>
    </div>
    <div class="rejected">
        <a href="javascript:location.reload()" class="btn btn-outline btn-sm btn-primary">
            <i class='bx bx-undo'></i>Reconnect
        </a>
    </div>
</div>