@using Microsoft.AspNetCore.Components.Web
@namespace Lephu_Umfrage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="~/"/>
        
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
        
        <link href="/css/theme.css" rel="stylesheet" type="text/css"/>
        <link href="/css/utils.css" rel="stylesheet" type="text/css"/>
        <link href="/css/blazor.css" rel="stylesheet" type="text/css"/>
        <link href="/css/boxicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/sweetalert2dark.css" rel="stylesheet" type="text/css"/>
        <link href="/css/interfont.css" rel="stylesheet" type="text/css"/>
        
        <link type="image/x-icon" rel="shortcut icon" href="img/logo.svg"/>
        
    </head>
    <body
        data-kt-app-header-fixed="true"
        data-kt-app-header-fixed-mobile="true"
        data-kt-app-sidebar-enabled="true"
        data-kt-app-sidebar-fixed="true"
        data-kt-app-sidebar-hoverable="true"
        data-kt-app-sidebar-push-header="true"
        data-kt-app-sidebar-push-toolbar="true"
        data-kt-app-sidebar-push-footer="true"
        class="app-default">

        @RenderBody()

        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/toaster.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/sweetalert2.js"></script>

        <script src="_framework/blazor.server.js"></script>
        
    </body>
</html>