@using Microsoft.AspNetCore.Components.Web
@namespace Lephu_Umfrage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    
    <link
      href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link href="./vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="./vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css"
    />
    <link
      href="./vendor/datatables/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css"
      rel="stylesheet"
    />
    <link
      href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
      rel="stylesheet"
    />

    <!-- tagify-css -->
    <link href="./vendor/tagify/dist/tagify.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="./css/style.css" rel="stylesheet" />
    
</head>
<body>
    @RenderBody()

    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="./vendor/apexchart/apexchart.js"></script>

    <!-- Dashboard 1 -->
    <script src="./js/dashboard/dashboard-1.js"></script>
    <script src="./vendor/draggable/draggable.js"></script>
    <script src="./vendor/swiper/js/swiper-bundle.min.js"></script>

    <!-- tagify -->
    <script src="./vendor/tagify/dist/tagify.js"></script>

    <script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="./vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="./vendor/datatables/js/jszip.min.js"></script>
    <script src="./js/plugins-init/datatables.init.js"></script>

    <!-- Apex Chart -->

    @*<script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
    <script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>*@

    <!-- Vectormap -->
    <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="./js/custom.js"></script>
    <script src="./js/deznav-init.js"></script>

    <script>
    jQuery(document).ready(function(){
	    
		    dzSettingsOptions.version = 'dark';
		    new dzSettings(dzSettingsOptions);

    });
    </script>



	<script src="_framework/blazor.server.js"></script>
</body>
</html>