@page "/admin/settings"
@using Pollifyr.App.UI.Components.Utils
@using MoonCoreUI.Components.Forms
@using MoonCoreUI.Components
@using MoonCoreUI.Services
@using Pollifyr.App.Helpers.Utils
@using Pollifyr.App.Models.Forms.Settings
@using Pollifyr.App.Services

@inject ConfigService ConfigService
@inject AlertService AlertService

<NeedsAdmin/>

<Name>Admin Settings</Name>

<div class="mb-4">
    <h1>Settings</h1>
</div>
<div class="mx-2 mx-md-4">
    <LazyLoader Load="Load">
        <SmartForm Model="SettingsForm" OnValidSubmit="OnValidSubmit">
            <AdvancedAutoForm Model="SettingsForm" Columns="@(SettingsForm.GetType().GetProperties().Length > 1 ? 6 : 12)"></AdvancedAutoForm>
            
            <button type="submit" class="btn btn-success mt-4">
                <i class='bx bx-save bx-sm' ></i> Save
            </button>
        </SmartForm>
    </LazyLoader>
</div>

@code {

    private SettingsForm SettingsForm;

    private async Task Load(LazyLoader arg)
    {
        SettingsForm = await SettingsMapper.Map(ConfigService.Get());
    }

    private async Task OnValidSubmit()
    {
        ConfigService.Set(await SettingsMapper.ReverseMap(ConfigService.Get(), SettingsForm));
        await AlertService.Success("Successfully updated the settings! Reload the page to see them!");
    }

}