@page "/admin/surveys"
@using Pollifyr.App.Exceptions
@using MoonCoreUI.Components.Forms
@using MoonCoreUI.Services
@using Pollifyr.App.Database.Models
@using Pollifyr.App.Models.Forms.Surveys
@using Pollifyr.App.Services.Surveys
@using Pollifyr.App.UI.Components.Utils


@inject SurveyService SurveyService
@inject AlertService AlertService

<NeedsAdmin/>

<Name>Admin Surveys</Name>

<AutoCrud TItem="Survey"
          TCreateForm="CreateSurveyForm"
          TUpdateForm="UpdateSurveyForm"
          Title="Surveys"
          Load="Load"
          CustomAdd="Add">
    <View>
        <CrudColumn TItem="Survey" Field="@(x => x.Id)" Title="Id" Filterable="true"/>
        <CrudColumn TItem="Survey" Field="@(x => x.Name)" Title="Name" Filterable="true"/>
        <CrudColumn TItem="Survey" Title="Visibility" Filterable="true">
            <Template>
                <span>@(context!.Visible ? "Visible" : "Invisible")</span>
            </Template>
        </CrudColumn>
        <CrudColumn TItem="Survey" Title="Controls">
            <Template>
                <span class="btn-group">
                    <a class="btn btn-icon btn-secondary" href="/admin/survey/@context.Id" title="Edit">
                        <i class="bx bx-sm bx-edit"></i>
                    </a>
                    @if (context.Visible)
                    {
                        <a class="btn btn-icon btn-success" href="/results/@context.Id" title="View Results">
                            <i class="bx bx-sm bx-pie-chart-alt-2"></i>
                        </a>
                    }
                    <a class="btn btn-icon btn-info" @onclick:preventDefault @onclick="() => ChangeVisibility(context)" title="Visibility">
                        @if (context.Visible)
                        {
                            <i class="bx bx-sm bx-user-check"></i>
                        } else
                        {
                            <i class="bx bx-sm bx-user-x"></i>
                        }
                    </a>
                </span>
            </Template>
        </CrudColumn>
        <CrudColumn TItem="Survey" Field="@(x => x.CreatedAt)" Title="Created at" />
    </View>
</AutoCrud>

@code
{
    private Survey[] Load(MoonCore.Abstractions.Repository<Survey> repository)
    {
        return repository.Get().ToArray();
    }

    private async Task Add(Survey survey)
    {
        try
        {
            await SurveyService.New(survey);
        }
        catch (Exception e)
        {
            throw new DisplayException("An unknown error occured while creating a new survey.");
        }
        
    }

    private async Task ChangeVisibility(Survey survey)
    {
        string newVisibilityStatus = !survey.Visible ? "visible" : "invisible";
        
        bool confirm = await AlertService.YesNo($"Change the visibility of '{survey.Name}' to {newVisibilityStatus}?");

        if (!confirm)
            return;
        
        await SurveyService.Visibility(survey, !survey.Visible);
        
        await InvokeAsync(StateHasChanged);
    }
}