@using Pollifyr.App.Services
@using Pollifyr.App.Services.Partials
@using Pollifyr.App.UI.Views.Errors
@using Pollifyr.App.UI.Components.Utils

@inject ImprintService imprintService
@inject ConfigService configService
@inject NavigationManager navigationManager

@page "/imprint"


@if (configService.Get().Information.Imprint)
{
    <Title>Imprint</Title>
    
    @imprint
}
else
{
    <NotFound/>
}

@code {
    MarkupString imprint = (MarkupString)"";
    
    protected override Task OnInitializedAsync()
    {
        if (!configService.Get().Information.Imprint)
        {
            navigationManager.NavigateTo("/");
        }
        
        
        imprint = imprintService.Get();
        
        StateHasChanged();
        
        return Task.CompletedTask;
    }

}