@page "/register"

@using Pollifyr.App.Services
@using Pollifyr.App.Models.Forms
@using MoonCoreUI.Components.Forms
@using MoonCoreUI.Services
@using Pollifyr.App.Services.Auth

@inject AuthService AuthService
@inject CookieService CookieService
@inject IdentityService IdentityService
@inject NavigationManager NavigationManager
@inject ConfigService ConfigService

<div class="p-2 px-md-12">

    <div class="d-flex justify-content-center align-items-center flex-column">
        <img src="/img/logo.svg" alt="Logo" class="h-30px">
        <span class="fs-1 d-block fw-bold">Login</span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fs-3" for="email">Email Address</label>
        <input type="email" id="email" class="form-control" placeholder="mail@example.com" @bind="Form.Email"/>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fs-3" for="username">Username</label>
        <input type="email" id="username" class="form-control" placeholder="maxmustermann123" @bind="Form.Username"/>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label fs-3" for="password">Password</label>
        <input type="@(ShowPassword ? "text" : "password")" class="form-control" placeholder="Password" id="password" @bind="Form.Password">
        <label class="form-label" for="password"> <a class="text-secondary cursor-pointer" @onclick="() => { ShowPassword = !ShowPassword; StateHasChanged(); }">@(ShowPassword ? "Hide" : "Show") Password</a></label>
    </div>

    <div class="d-flex justify-content-center">
        <WButton Text="Register" CssClasses="btn-primary btn-block mb-4 w-100 w-md-50" WorkingText="Registering" OnClick="Callback"/>
    </div>
    
    <div class="text-center">
        <p>Already Logged in? <a href="/login">Log in</a></p>
    </div>
    

</div>

@code {
    private RegisterForm Form = new();
    
    private bool ShowPassword;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var usersExist = await AuthService.UsersExist();
        
        if (usersExist)
        {
            if (IdentityService.LoggedIn || ConfigService.Get().Properties.AllowRegister == false)
            {
                NavigationManager.NavigateTo("/", true);
            }
        }
    }
    
    private async Task Callback()
    {
        Form.Email = Form.Email.ToLower().Trim();

        var token = await AuthService.Register(Form.Email, Form.Password, Form.Username);

        if (token != string.Empty)
        {
            await CookieService.SetValue("token", token, 10);
            NavigationManager.NavigateTo("/", true);
        }
    }
    
}