@using Pollifyr.App.UI.Components.Utils
@using Pollifyr.App.UI.Components.Alerts
@using Pollifyr.App.Services.Auth

@inject IdentityService IdentityService

@inherits LayoutComponentBase


<Title>App</Title>

<DefaultLayout>
    <PermissionCheck>
        <SoftErrorHandler>
            @Body
        </SoftErrorHandler>
    </PermissionCheck>
</DefaultLayout>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            try
            {
                await IdentityService.Load();
            }

            catch (Exception)
            {
                // ignored
            }
        }
        
    }

}