@using Pollifyr.App.UI.Components.Utils
@using Pollifyr.App.UI.Components.Alerts

@inherits LayoutComponentBase

<Title>App</Title>

<DefaultLayout>
    <SoftErrorHandler>
        @Body
    </SoftErrorHandler>
</DefaultLayout>