span.apexcharts-title-text {
    color: #fff !important;
    font-family: inherit !important;
}

span.apexcharts-title-text {
    color: #fff !important;
    font-family: inherit !important;
}

.apexcharts-canvas > svg {
    background-color: transparent !important;
}