@using Pollifyr.App.Services
@inject ConfigService ConfigService

<div class="app-footer">
    <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">@DateTime.Now.Year©</span>
            <a href="/" target="_blank" class="text-gray-800 text-hover-primary">@ConfigService.Get().Information.AppName</a>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            @if (ConfigService.Get().Information.UseImprint) {
                <li class="menu-item">
                    <a href="/imprint" class="menu-link px-2">Imprint</a>
                </li>
            }
            
            <li class="menu-item">
                <a href="#" class="menu-link px-2">Admin Login</a>
            </li>
            
            @if (ConfigService.Get().Information.ShowCredits)
            {
                <li class="menu-item">
                    <a href="https://mxritz.xyz" target="_blank" class="menu-link px-2">made with ♥️ by Moritz</a>
                </li>
            }
        </ul>
    </div>
</div>

