@using Pollifyr.App.UI.Layouts
@using Pollifyr.App.Services.Auth

@inject IdentityService IdentityService

<div class="app-sidebar flex-column @(Layout!.ShowMobileSidebar ? "drawer drawer-start drawer-on" : "")" id="kt_app_sidebar">
    <div class="app-sidebar-header d-flex flex-start flex-lg-stack gap-2 gap-lg-0 align-items-center pb-4 pt-lg-8 pt-4 ps-lg-7 ps-4">
        <div class="d-block d-lg-none">
            <a href="#" @onclick="Layout.ToggleMobileSidebar" @onclick:preventDefault class="btn btn-icon btn-active-color-primary w-35px h-35px">
                <i class="bx bx-sm bx-menu"></i>
            </a>
        </div>
        <a href="/" class="app-sidebar-logo">
            <img alt="Logo" src="/img/logo.png" class="h-50px d-none d-lg-inline app-sidebar-logo-default">
            <img alt="Logo" src="/img/logo.svg" class="h-30px d-inline d-lg-none">
        </a>
    </div>
    <div class="app-sidebar-navs flex-column-fluid py-6" id="kt_app_sidebar_navs">
        <div class="app-sidebar-wrapper hover-scroll-y my-2">
            <div class="app-sidebar-menu-secondary menu menu-rounded menu-column mb-6">
                <div class="menu-item">
                    <a class="menu-link " href="/">
                        <span class="menu-icon">
                            <i class="bx bx-sm bx-home"></i>
                        </span>
                        <span class="menu-title">
                            Home
                        </span>
                    </a>
                </div>
                @if (IdentityService.IsAdmin) {
                    
                    <div class="menu-item pt-2">
                        <div class="menu-content">
                            <span class="menu-heading fw-bold text-uppercase fs-7">Admin</span>
                        </div>
                    </div>
                    
                    <div class="menu-item">
                        <a class="menu-link " href="/admin">
                            <span class="menu-icon">
                                <i class="bx bx-sm bxs-dashboard"></i>
                            </span>
                            <span class="menu-title">
                                Overview
                            </span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link " href="/admin/users">
                            <span class="menu-icon">
                                <i class="bx bx-sm bx-user"></i>
                            </span>
                            <span class="menu-title">
                                Users
                            </span>
                        </a>
                    </div>
                    
                    <div class="menu-item">
                        <a class="menu-link " href="/admin/surveys">
                            <span class="menu-icon">
                                <i class="bx bx-sm bx-list-ul"></i>
                            </span>
                            <span class="menu-title">
                                Surveys
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    public DefaultLayout? Layout { get; set; }
}