@using Pollifyr.App.UI.Components.Utils
@using Pollifyr.App.Services.Auth
@using CookieService = Pollifyr.App.Services.Auth.CookieService
@using MoonCoreUI.Services

@page "/"

@inject AuthService AuthService
@inject CookieService CookieService
@inject IdentityService IdentityService
@inject NavigationManager NavigationManager
@inject AlertService AlertService

<Title>Home</Title>

<h1>Hello, world!</h1>
